<nav id="mainNav" class="navbar navbar-default mktg">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/dashboard"><img src="./assets/img/Go_Ball_logo.png" width="90px" class="gb-logo"></a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/dashboard">Games</a>
        </li>
        <li>
          <a href="/signin">Login</a>
        </li>
        <li>
          <a href="/signup">Sign-Up</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!-- Demo Header -->

<div class="jumbotron">

<h1><strong>Pick Up Games. <br/>Anytime. Anywhere.</strong></h1>

<h3>Create pick up games, let others join, play ball.</h3>

<div class="container" id="TR-info">


  <div class="row">
    
      <div class="col-lg-12">

      <hr>

      </div>

  </div>
  

  <div class="row" >
      
      <div class="col-lg-4 info-block top-block TR-info">

        <h2>Play Sports on Your Time</h2>
      <hr>

        <p>At The Rec you can create your game and other athletes will join your game and meetup with you to play. The Rec will let you know when you have enough players, so you know you'll be able to play. Think of your favorite online sports video game, but IRL.</p>

      </div>

      <div class="col-lg-4 info-block top-block TR-info">

        <h2>Build a Player Profile</h2>
      <hr>

        <p>Log your stats after the game to track your game. Stay honest, because other players verify your stats if The rec detects a discrepancy among player scores. Liars get a deduction to their player score.</p>           

      </div>

      <div class="col-lg-4 info-block top-block TR-info">

        <h2>Earn a Living</h2>
      <hr>

        <p>Become an entrepreneur by hosting tournaments in your city. Offer prize money, and earn a profit. We'll help you make with the prize money and resources, you handle the day of the event. We have resources for locations, refs, marketing, staff and of course, a player pool.</p>

      </div>

  </div>

  </div>

</div>

</div>
